<form action="result" method="post">
    <label for="name">Your Name:</label>
    <input type="text" name="name" id="">

    <label for="location">Location:</label>
    <select name="location" id="">
        <option value="seattle">Seattle</option>
        <option value="san_fransisco">San-Fran</option>
    </select>

    <label for="language">Favorite Language:</label>
    <select name="language" id="">
        <option value="python">Python</option>
        <option value="C#">C#</option>
    </select>

    <label for="comments">comments:</label>
    <textarea name="comments" id="" cols="30" rows="10"></textarea>
</form>